<div class="wrap-content">
    <div class="module module-white min-height">
  		<div class="module-tranding">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#home">自己购买</a></li>
          <li class=""><a href="#profile">好友赠送</a></li>
        </ul>
         
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <div class="module-table-box module-record">
              <table class="table table-bordered">
                <tbody><tr>
                  <td>
                    <p>礼品卡卡号：<span class="tel-nun">1234567952356</span></p>
                    <p class="txt-red">充值金额：990.00元</p>
                    <p>状态：已接收</p>
                    <p>接收时间：2014-02-27&nbsp;&nbsp;&nbsp;12:22:10</p>
                    <p>来源：<span class="tel-nun">18812345678</span></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>礼品卡卡号：<span class="tel-nun">1234567952356</span></p>
                    <p class="txt-red">充值金额：990.00元</p>
                    <p>状态：已接收</p>
                    <p>接收时间：2014-02-27&nbsp;&nbsp;&nbsp;12:22:10</p>
                    <p>来源：<span class="tel-nun">18812345678</span></p>
                  </td>
                </tr>
              </tbody></table>
            </div>
          </div>
          <div class="tab-pane" id="profile">
            <div class="module-table-box module-record">
              <table class="table table-bordered">
                <tbody><tr>
                  <td>
                    <p>礼品卡编号：<span class="tel-nun">1234567952356</span></p>
                    <p>金额：990.00元</p>
                    <p class="txt-green">状态：已购买待处理</p>
                    <p>接收时间：2014-02-27&nbsp;&nbsp;&nbsp;12:22:10</p>
                    <p class="btn-line">
                      <button type="button" class="btn btn-danger btn-mini">充值自用</button>
                      <button type="button" class="btn btn-danger btn-mini">赠送好友</button>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>礼品卡编号：<span class="tel-nun">1234567952356</span></p>
                    <p>金额：990.00元</p>
                    <p class="txt-green">状态：已购买待处理</p>
                    <p>接收时间：2014-02-27&nbsp;&nbsp;&nbsp;12:22:10</p>
                  </td>
                </tr>
              </tbody></table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>