<p>提现总金额： 1000</p>
<p><%= link_to "提现记录", ims_store_incomes_path %></p>
<hr>
<p><%= link_to "不可提现记录 300", list_ims_store_incomes_path %></p>
<hr>
<p>提现申请中的金额 400</p>
<hr>
<p>可提现金额 500</p>
<p><%= link_to "提现申请", new_ims_store_income_path %></p>
