<div class="sidenav">
  <div class="span3 aside collapse" >
    <div class="frame">
      <div class="section menu">
        <ul>
          <li class="active"><a href="index.html">促销专区</a></li>
          <li><a href="special.html">精彩专题</a></li>
          <li><a href="gallery.html">随便逛逛</a></li>
          <li><a href="space.html">我的银泰</a></li>
        </ul>
      </div>
      <div class="section login">
        <h2>登录银泰</h2>
        <ul>
          <li><a href="#">新浪微博</a></li>
          <li><a href="#">腾讯微博</a></li>
          <li><a href="#">腾讯QQ</a></li>
        </ul>
      </div>
      <div class="section follow">
        <h2>关注“喜欢银泰”微信</h2>
        <ul>
          <li><a href="#"><img src="images/icon_weixin.png" alt="微信"></a></li>
          <li><a href="#"><img src="images/icon_code.png" alt="二维码"></a></li>
        </ul>
      </div>
      <div class="section download">
        <h2>银泰 iPhone 客户端下载</h2>
        <a href="#"><img src="images/ytapp.png" alt="客户端下载"></a> </div>
    </div>
  </div>
</div>
