<%= content_for :head_nav do -%>
  <ul class="nav">
    <li><a href="javascript:history.go(-1);"><i class="icon-undo"></i></a></li>
    <li class="title">兑换券信息</li>
  </ul>
<% end -%>
<div class="span9 main">
  <div class="details cfxq">
    <div class="vipleft">
      <h2><em></em><%= @voucher. -%></h2>
      <div class="content">
        <p class="lqm">礼券码：1322005123</p>
        <p class="bb b10"> <span>领兑时间：</span>2013-05-11 11:30:00<br>
        <span>礼券有效期：</span>2013-05-22止<br>
        <span>使用门店：</span>浙江银泰文化广场店<br>
        <span>兑换积点：</span>30000<br>
        <span>兑换金额：</span><b style="color:#D10149;">300元</b><br>
        <em class="xr">特别提醒：请在使用礼券购买商品时，请同时出示会员卡进行购买。</em> </p>
        <p> <span>使用门店：</span>浙江银泰文化广场店<br>
        </p><div class="xh">使用范围：初黄金珠宝、大小家电、数码通讯、化妆品、精品、特卖品等特例商品及辅营业种外（详见专柜明示），超过本拳面值的商品方可抵用。</div>
        <p></p>
      </div>
    </div>
    <div class="vipright">
      <h2>　</h2>
      <div class="content">
        <p>注意事项</p>
        <p class="xh"> ·在使用礼券购买商品时，请同时出示会员卡进行购买。<br>
        ·积点不足3000点的可以累积到下次领兑；<br>
        ·凭本人身份证和09版VIP卡/联名卡领兑；<br>
        ·在集团各门店消费的积点可以累计领兑；<br>
        ·积点一经兑换，恕不退换；<br>
        ·积点均按单张VIP卡回馈，卡与卡之间恕不累加、转让；<br>
        ·各门店领兑的礼券仅限在兑领店处使用，礼券恕不参加公司优惠及促销活动；<br>
        ·礼券使用范围：除黄金珠宝、家电、小家电、化妆品、精品、小吃、超市等特例商品以及辅营业种外（详见各门店专柜明示）（为保证活动的有效性和体现VIP尊贵感，请各门店尽可能开放受券品牌）；<br>
        ·礼券有效期：领券之日起五日内。<br>
        </p>
      </div>
    </div>
    <div class="clear">
      <p class="center" style="padding-top:20px;"> <a href="#barcode" data-toggle="modal" class="btn btn-danger ">取消兑换</a>
      </p><div id="barcode" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="barcode" aria-hidden="false">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="mLabel">取消兑换</h3>
      </div>
      <div class="modal-body">
        <p>您是否确定要取消兑换？</p>
      </div>
      <div class="modal-footer"> <a class="btn btn-danger" data-dismiss="modal" aria-hidden="true">确认</a> <a class="btn" data-dismiss="modal" aria-hidden="true">取消</a> </div>
    </div>
    <p></p>
  </div>
</div>
    </div>
