<div class="wrap-inner back-wrap-inner">
  <%= render "list", products: @products, combo: @combo %>
</div>

<% content_for :javascripts do %>
  <script>
    $(function(){
      $(window).scroll(function(){
        var htmlHeight=document.body.scrollHeight
        var clientHeight=document.body.clientHeight
        var scrollTop=document.body.scrollTop
        var combo_id = "<%= @combo.try(:id) %>"

        if(scrollTop+clientHeight==htmlHeight){
          $.get("/ims/store/products", {combo_id: combo_id}, function(data){
            if(data["status"] == true){
              $(".paginate-content:last").after(data["html"])
            }
          }, "json")
        }

      })
    })
  </script>
<% end %>