
<div class="module module-bg-white">
  <div class="row-fluid">
  <div class="span12">
    <img alt="" src="/images/ims/product-detail.jpg">
  </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="p-detail">
        <div class="p-title">
          <h4>
              男士专用运动鞋男士专用运动鞋男士专用运动鞋
          </h4>
        </div>
        <div class="p-price clearfix">
           <div class="wx-price">
              <div><h4>微信价：<span>￥380.00</span></h4></div>
              <div><h5>吊牌价：￥180.00</h5></div>
           </div>
           <div class="p-dapei">
             <a href="">
              <button class="btn btn-large btn-danger">选择搭配</button>
             </a>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
