
<div class="module module-white">
  <div class="row-fluid">
  <div class="span12">
    <img alt="" src="/images/ims/product-detail.jpg">
  </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="p-price clearfix">
        <div class="row-fluid">
          <div class="span6">
            <div class="wx-price">
              <div class="txt3">微信价：<span>￥380.00</span></div>
              <div class="txt5">吊牌价：￥180.00</div>
            </div>
          </div>
          <div class="span6">
            <div class="p-dapei">
              <a href="">
                <button class="btn btn-danger txt4">选择搭配</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
