<div class="wrap-inner back-wrap-inner">
  <div class="module module-white">
    <div class="row-fluid">
      <div class="span12">
        <%= image_tag Product.img_url(@product.try(:[], :image)) %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="p-price clearfix">
          <div class="row-fluid">
            <div class="span6">
              <div class="wx-price">
                <div class="txt3">微信价：<span>￥<%= @product[:price] %></span></div>
              </div>
            </div>
            <div class="span6">
              <div class="p-dapei">
                <a href="">
                  <button class="btn btn-danger btn-mini">选择组合</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
