<div class="wrap-content">
    <div class="module common-white min-height card-form-box">
      <%= form_tag ims_store_suggesstions_path, id: "new_suggesstion", class: "form-defined" do %>
        <div class="controls-defined defined-small">
          <label class="col-12 text-left">建议</label>
          <div class="col-12">
            <%= text_area_tag "content", '', placeholder: "说点什么", rows: 3, class: "active-write" %>
          </div>
        </div>
        <button class="btn btn-danger btn-large btn-block" type="button" id="save_suggesstion">确认</button>
      <% end %>
    </div>

  </div>





<% content_for :javascripts do %>
  <script>
    $(function(){

      $("#content").trigger("focus")

      $("#save_suggesstion").on("click", function(){
        if($("#new_suggesstion").valid()){
          content = $("#content").val()
          $.post("/ims/store/suggesstions", {content: content}, function(data){
            if(data["status"] == true){
              alert("意见反馈成功")
            }else{
              alert("意见反馈失败")
            }
          }, "json")
        }
      })

      $("#new_suggesstion").validate({
        rules: {
          "content": {
            required: true,
            maxlength: 1024
          }
        },
        errorPlacement:function(error, element){
          element.after(error)
        }
      })

    })
  </script>
<% end %>