<div class="module module-bg-white clearfix">
  <div class="row-fluid">
    <div class="span12">
      <img src="/images/ims/product-detail.jpg">
        <div class="p-title"><h4>欧美范套装 简简单单的色彩 上面没有一丝累赘设计，干净利落非常精神</h4></div>
        <div class="p-price1 clearfix">
          <div>微信价：<span class="p-wx-price">￥180.00</span></div>
          <div><span class="p-dp-price">吊牌价：￥380.00</span></div>
        </div>
    </div>
  </div>
</div>

<div class="module module-common">
  <div class="row-fluid">
    <div class="span4">
      <div class="combos-product">
        <img src="/images/ims/suit-06.jpg">
        <p><span>￥368.00</span></p>
        <a class="btn btn-small btn-danger" href="">点击购买</a>
      </div>
    </div>
    <div class="span4">
      <div class="combos-product">
        <img src="/images/ims/suit-09.jpg">
        <p><span>￥368.00</span></p>
        <a class="btn btn-small btn-danger" href="">点击购买</a>
      </div>
    </div>
    <div class="span4">
      <div class="combos-product">
        <img src="/images/ims/suit-11.jpg">
        <p><span>￥368.00</span></p>
        <a class="btn btn-small btn-danger" href="">点击购买</a>
      </div>
    </div>
  </div>
  </div>

<div class="module module-share">
  <div class="row-fluid">
    <div class="span12">
      <div class="combos-share-btns">
        <a class="btn btn-large btn-danger" href=""><i class="fa fa-share-square"></i>分享给好友</a>
        <a class="btn btn-large btn-danger" href="/ims/store/collocations/1/edit"><i class="fa fa-edit"></i>编辑</a>
      </div>
    </div>
  </div>
</div>