<%= content_for :javascripts do -%>
  <script src="js/special.js"></script>
<% end -%>
<%= content_for :head_nav do -%>
  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".aside"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
  <ul class="nav">
    <li class="mid">精彩专题</li>
  </ul>
<% end -%>
<div class="span9 main">
  <section class="portfolio">
    <ul id="special_list" class="thumbnails">
    </ul>
    <div id="loader">
      <div id="loaderCircle"></div>
    </div>
  </section>
</div>
