<%= content_for :javascripts do -%>
  <script src="/js/special.js"></script>
<% end -%>
<%= content_for :head_nav do -%>
  <ul class="nav">
    <li class="mid">精彩专题</li>
  </ul>
<% end -%>
<div class="span9 main">
  <section class="portfolio">
    <ul id="special_list" class="thumbnails">
    </ul>
    <div id="loader">
      <div id="loaderCircle"></div>
    </div>
  </section>
</div>
