<div class="module-table-box module-record paginate-content">
  <% combos_list.each do |combo| %>
  <div class="module common-white" onclick="window.location.href = '<%= mini_combo_path(combo["id"]) %>'">
    <div class="txt-block detail-contact">
      <div class="row-fluid">
        <div class="span3"><span class="img-spa"><img class="img-rounded" src="<%= combo["image"] %>"></span></div>
        <div class="span9">
          <div class="collection-p collection-pbox">
            <p class="txt2 one-line"><%= combo["name"] %></p>
            <p class="txt2 txt-red"><span class="txt-grey">打包价：</span>￥<%= combo["price"] %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>