<%= content_for :head_nav do %>
  <ul class="nav">
    <li><a href="javascript:history.go(-1);"><i class="icon-undo"></i></a></li>
    <li class="title">退货政策</li>
  </ul>
<% end %>
<div class="span9 main">
  <div class="bger thzc tbg">
    <p> 亲爱的贵宾客户：<br />
      您可以享受我司“15天无理由退换货”的服务，从您签收日开始计算。<br />
      您可以选择到我司现场“退换货”，也可以选择手机申请“退换货”。<br />
      一、现场退换货<br />
      请您带上商品、赠品、发票与发货单，至我司“订单处理组”，订单组成员将竭诚为您服务，您将当场拿回退货现金，积分消费仍将归还至您的VIP卡内。<br />
      二、手机客户端申请退换货<br />
      请您在原订单上找到“退货”或者“换货”，填写申请资料。“专柜营业员”与“订单处理组”会分别与您确认申请。请您在二次确认后包装商品，按表格下方“退货地址”寄回。我们将在收到商品后7个工作日内退款至您卡上。您可以从手机订单上随时查询退换货进度，也可以电话“订单处理组”查询进度。<br />
      特别提醒：1.请将退货“面单”号录入手机客户端，以便我们跟进邮件。2.请您务必正确填写银行卡账号、开户姓名、开户行，以便我司退款给您。若您填写的帐号、户名不一致造成银行汇款无法追回的，我司将不再重新退款。 </p>
  </div>
</div>
