<%= content_for :head_nav do %>
  <ul class="nav">
    <li><a href="<%= front_profile_path %>"><i class="icon-undo"></i></a></li>
    <li class="title">退货政策</li>
  </ul>
<% end %>
<div class="span9 main">
  <div class="bger thzc tbg">
    <p>
      <strong>亲爱的贵宾客户：</strong><br />
      您可以享受我司“15天无理由退换货”的服务，从您签收日开始计算。您可以选择手机申请“退货”。<br>
      <h5>一、手机自助退货</h5>
      <p>1.您可以进入 <a href="<%= front_profile_path %>" target="_blank" class="text-error">“预购中心”</a> 找到 <a href="<%= order_index_front_rmas_path %>" target="_blank" class="text-info">“自助退货”</a> ，进入后您可以看到能够进行退货的全部订单。</p>
      <p>2.点击“申请退货”按钮，选择退货数量及退货理由，提交退货申请后等待客服进行审核。期间该订单将被锁定。</p>
      <p>3.审核通过后，该订单按钮将显示“审核通过”，您可以点击进入按返回给您的“退货地址”将商品、发票、发货单、赠品一并寄回。然后提交进入退货流程，期间该订单将被锁定。同时您也可以在提交进入退货流程前“取消退货”。</p>
      <p>4.我们将在收到商品后7个工作日内退款至您的支付宝账号中。您可以从“退货记录”中随时查询退货进度，也可以电话“订单处理组”查询进度。</p>
      <h5>二、关于邮费</h5>
      <p>1.通过手机自助申请“退货”，您需要承担寄回的邮费，请直接支付给快递员。我们无法收取任何形式的“到付”件和“平邮”件。</p>
      <p>2.由于我司差错造成的退换货，请您手机申请退换货同时拍照取证，并请2日内联系“订单处理组”确认邮费返还。您需要先垫付邮件，请直接支付给快递员，我们将在退款同时一起退回。</p>
      <h5>三、退货须知</h5>
      <p>1.退货请确保产品完好，不污不损，吊牌齐全，请将赠品、发票、发货单一并退回。</p>
      <p>2.若您非常喜欢我们的赠品，需要在退货时留下赠品，请先电话联系“订单处理组”确认赠品价格，您可以选择用VIP卡内的积分兑换赠品或者从退款中直接扣除赠品金额。</p>
      <p>3.以下情况将不提供退货服务：</p>
      <ul>
        <li>已使用商品；试穿、试用后损坏、变形影响二次销售的商品；修改过尺寸的商品。</li>
        <li>快递送货过程中损坏、缺失，而您正常签收的商品。</li>
        <li>已开发票，且发票不能退回的商品。</li>
      </ul>
    </p>
  </div>
</div>
