<div class="module module-white">
  <div class="module-password min-height">
    <%= form_tag(change_password_ims_accounts_path, method: 'get', class: "form-defined") do %>
      <div class="controls-defined defined-large">
        <p class="txt1">当前支付密码</p>
        <%= password_field_tag "oldpwd", "", class: "input-block-level large-block", placeholder: "支付密码为6位数字" %>
      </div>
      <div class="controls-defined defined-large">
        <p class="txt1">新的支付密码</p>
        <%= password_field_tag "newpwd", "", class: "input-block-level large-block", placeholder: "支付密码为6位数字" %>
        <%= password_field_tag "comfirm_pwd", "", class: "input-block-level large-block", placeholder: "确认支付密码" %>
      </div>
      <ol class="ol-list txt3">
        <li>支付密码用于线下消费，请务必妥善保管</li>
        <li>为了保证账户安全，建议定期修改支付密码</li>
      </ol>
      <p class="pass-button"><button type="submit" class="btn btn-danger btn-large btn-block">确认</button></p>
    <% end %>
  </div>
</div>