<div class="module module-white">
  <div class="row-fluid">
    <div class="span12">
      <div class="module-set-password form-padding">
        <%= form_tag(ims_accounts_path, method: 'post', id: "account_form", class: "form-defined") do %>
        <%= hidden_field_tag "sms_code", params[:sms_code]%>
        <h1 class="text-center">为了保证您的银泰礼品卡资金安全，请设置支付密码</h1>
        <%= password_field_tag "pwd", "", class: "input-block-level large-block", placeholder: "支付密码为6位数字" %>
        <%= password_field_tag "comfirm_pwd", "", class: "input-block-level large-block", placeholder: "确认支付密码" %>
        <ol class="ol-list txt3">
          <li>支付密码用于线下消费，请务必妥善保管</li>
          <li>为了保证账户安全，建议定期至礼品卡首页修改支付密码</li>
        </ol>
        <button class="btn btn-danger btn-large btn-block set-button">确认</button>
        <% end %>
      </div>
    </div>
  </div>
</div>