<div class="module module-white min-height">
  <div class="module-form module-set-password form-padding">
    <%= form_tag(verify_identify_phone_ims_accounts_path, method: 'get', id: "phone_form", class: "form-horizontal") do %>
    <div class="control-group">
      <h1>请输入您的正确的手机号</h1>
    </div>
    <div class="control-group">
      <%= text_field_tag "phone", "", class: "input-block-level", placeholder: "输入11位手机号" %>
    </div>
    <ol class="ol-list txt3">
      <li>手机号将作为您的银泰礼品卡卡号，凭卡号进行消费</li>
      <li>手机号将用来接收验证码</li>
    </ol>
    <div class="control-group">
      <button type="submit" class="btn btn-large btn-block btn-danger">下一步</button>
    </div>
    <% end %>
  </div>
</div>

<%= content_for :javascripts do %>
<script type="text/javascript" charset="utf-8">
  $(function(){

    $("#phone_form").validate({
      onsubmit: true,
      onfocusout: false,
      onkeyup: false,
      onclick: false,
      rules: {
        "phone": {
          required: true
        }
      },
      errorPlacement:function(error, element){
        element.after(error)
      }
    })
  });
</script>
<% end %>