<div class="loginPanel">
  <div class="text-center title">
    微信登录
  </div>

  <div class="text-center" id="image">
    <%= image_tag qrcode_ims_weixins_path(url: @url, format: "png"), width: 240 %>
  </div>

  <div class="info">
    <div class="status status_browser js_status normal text-center" id="wx_default_tip">
      <span class="login_notice">
      <p>
        请使用微信扫描二维码登录
      </p>
      <p>
        “迷你银”
      </p>
      </span>

      <span class="scan_notice" style="display: none;">
      <p>
        扫描成功
      </p>
      <p>
        “请点击登录”
      </p>
      </span>

      <span class="login_success" style="display: none;">
      <p>
        登录成功
      </p>
      <p>
        “正在跳转”
      </p>
      </span>

    </div>

  </div>

</div>

<style type="text/css">
  body {
    background: none repeat scroll 0 0 rgb(51, 51, 51);
  }
</style>

<% content_for :javascripts do %>
  <script>
    function get_login_status(){
      $.get("<%= get_access_token_ims_weixins_path %>", {uid: "<%= @uid %>"}, function(data){
        if(data["login_state"] == "已扫描"){
          $(".login_notice").hide()
          $(".login_success").hide()
          $(".scan_notice").show()
        }

        if(data["login_state"] == "已登录"){
          $(".login_notice").hide()
          $(".login_success").show()
          $(".scan_notice").hide()
          clearInterval(interval_get_login_status)
          <% if (redirect_url = params[:redirect_url]).present? %>
          window.location.href = "<%= redirect_url %>"
          <% else %>
          window.location.href = "/ims/store/sells"
          <% end %>
        }
      })
    }

    $(function(){
      $(".refresh-link").hide()

      interval_get_login_status = setInterval("get_login_status()", 5000)
    })
  </script>
<% end %>




