<div class="wrap-inner back-wrap-inner">
  <div class="row-fluid">
    <div clss="span12">
      <div class="login-form">
        <div class="login-face text-center">
          <%= image_tag "ims/login_logo_06.png", class: "img-circle" %>
        </div>
        <div class="control-group">
          <p class="tips txt3 txt-grey text-center">
            恭喜您，登录成功！
          </p>
        </div>
        <% if nil %>
        <div>
          <%= link_to '关闭', "javascript:void(0);", class: "btn btn-danger btn-large btn-block", id: "close_page" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
  <script>
    $(function(){
      $(".refresh-link").hide()
    })
  </script>
<% end %>