<div class="wrap-inner back-wrap-inner">
<div class="module module-bg-white clearfix">
  <div class="row-fluid">
    <div class="span12">
  	  <p>1、打开我的收益主页。</p>
  	  <p>2、点击申请提现，进入提现页面</p>
      <p>3、在提现页面填写提现申请所需数据，然后提交申请即可。</p>
    </div>
  </div>
</div>
</div>