<dd>
  <a href="#post" data-toggle="modal" id='show_comment'><img src="<%=Settings.fileserver_host%>/images/icon_bubbles_2x.png" width="24" height="24"><span>评论</span></a>
</dd>
<div id="post" class="modal hide fade in" role="dialog" aria-labelledby="post" aria-hidden="false">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="mLabel">发表评论</h3>
  </div>
  <%= form_tag(comment_front_promotion_path(promotion.id), method: :post, remote: true) do -%>
    <div class="modal-body">
      <%= text_area_tag 'content', nil, style: 'width:96%;height:100px;margin:0;', placeholder: '说点什么吧…' -%>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      <%= submit_tag '发布', class: 'btn btn-danger', id: 'comment', data: { disable_with: '正在发布...' } -%>
    </div>
  <% end -%>
</div>
