<dd>
<% if @promotion_info.blank? || !@promotion_info['ifcancoupon'] -%>
  <%= image_tag Settings.fileserver_host+"/images/icon_barcode_2x.png", height: 24, width: 24 -%><span>优惠码</span>
<% else -%>
  <%= link_to raw("#{image_tag(Settings.fileserver_host+'/images/icon_barcode_2x.png', height: 24, width: 24)}<span>优惠码</span>"), download_coupon_front_promotion_path(promotion.id), remote: true, method: :post, disable_with: "#{image_tag('/images/icon_barcode_2x.png', height: 24, width: 24)}<span>下载中</span>" -%>
<% end -%>
</dd>
<div id="barcode" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="barcode" aria-hidden="false">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="mLabel">优惠码</h3>
  </div>
  <div class="modal-body">
    <p>下载成功！在商场收银台结算时请出示该优惠码获得尊享优惠！</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <%= link_to '查看优惠码', front_coupons_path, class: 'btn btn-danger' -%>
  </div>
</div>
