<dl class="func">
  <dd>
    <%= link_to raw("#{image_tag('/images/icon_heart_2x.png', height: 24, width: 24)}<span>喜欢</span>"), favor_front_promotion_path(promotion.id), class: 'favor', remote: true, method: :post -%>
  </dd>
  <%= render 'download_coupon', promotion: promotion -%>

  <%= render 'comment', promotion: promotion -%>

  <%= render 'share', promotion: promotion -%>

  <div class="clearfix"></div>
</dl>
