<%= content_for :stylesheets do -%>
  <link href="/css/royalslider.css" rel="stylesheet">
<% end -%>
<%= content_for :javascripts do -%>
  <script src="/js/jquery.royalslider.min.js"></script>
<% end -%>
<%= content_for :head_nav do -%>
  <ul class="nav">
    <li><a href="#" onclick="clears(),loadData('3');;">距离最近</a></li>
    <li><a href="#" onclick="clears(),loadData('1');;">最新发布</a></li>
    <li><a href="#" onclick="clears(),loadData('2');;">即将开始</a></li>
  </ul>
<% end -%>
<div class="span9 main">
  <%= render 'banner', banners: @banners -%>

  <section class="portfolio">
    <ul id="tiles_lsit" class="thumbnails"></ul>
    <div id="loader"><div id="loaderCircle"></div></div>
  </section>
</div>
