<%= content_for :head_nav do -%>
  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".aside"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
  <ul class="nav">
    <li><a href="index.html">距离最近</a></li>
    <li><a href="zxfb.html">最新发布</a></li>
    <li><a href="jjks.html">即将开始</a></li>
  </ul>
  <!--/.nav-collapse -->
<% end -%>
<div class="span9 main">
  <!-- 广告图片 -->
  <div class="portfolio">
    <section id="banner" class="royalSlider">
      <div class="rsContent" data-rsDelay="5000"><a href="#"><img class="rsImg" src="temp/banner_880_300_1.jpg" alt="" /></a></div>
      <div class="rsContent" data-rsDelay="5000"><a href="#"><img class="rsImg" src="temp/banner_880_300_2.jpg" alt="" /></a></div>
    </section>
  </div>

  <!-- 活动 -->
  <section class="portfolio">
    <!-------距离最近开始------>
    <div id="div">
    </div>
    <div id="loader">
      <div id="loaderCircle"></div>
    </div>
    <!--------距离最近结束-------->
  </section>
  <!--/.main-collapse -->
</div>
<div id="navMask"></div>
