<%= content_for :head_nav do -%>

  <ul class="nav">
    <li><a href="javascript:void(0)" onClick="hspace.clears(),hspace.loadData('1',userid);">喜欢的宝贝</a></li>
    <li><a href="javascript:void(0)" onClick="hspace.clears(),hspace.loadData('2',userid);">喜欢的促销</a></li>
    <li><a href="javascript:void(0)" onClick="hspace.clears(),hspace.loadData('3',userid);">Ta的分享</a></li>
  </ul>

<% end -%>
