<%= content_for :head_nav do -%>

  <ul class="nav">
    <li><a href="javascript:void(0)" data-hspacetype="1" >喜欢的宝贝</a></li>
    <li><a href="javascript:void(0)" data-hspacetype="2" >喜欢的促销</a></li>
    <% if current_user && current_user.level == 2%>
      <li><a href="javascript:void(0)" data-hspacetype="3" >Ta的分享</a></li>
    <% end %>
  </ul>

<% end -%>
