<section class="portfolio" info="<%= @user_id%>">
<ul id="tiles" class="thumbnails tmode"></ul>
<div id="loader">
  <div id="loaderCircle"></div>
</div>

<div id="his_share" class="no_data alert alert-error text-center">
  <h5><i></i>他还没有分享任何东东~</h5>
</div>
<div id="his_like" class="no_data alert alert-error text-center">
  <h5><i></i>Ta还没有喜欢的东东~</h5>
</div>
<div id="last_page" class="no_data alert alert-error text-center">
  <h5>最后一页</h5>
</div>
</section>
