<%= content_for :head_nav do -%>
  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".aside"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

  <ul class="nav">
    <li><a href="<%= front_my_favorite_path%>" >喜欢的宝贝</a></li>
    <li><a href="<%= front_my_promotion_path%>" >喜欢的促销</a></li>
    <li><a href="<%= front_my_share_path %>" >我的分享</a></li>
  </ul>

<% end -%>
