<%= content_for :javascripts do -%>
  <script src="/js/hspace_promo.js" ></script>
<% end -%>
<%= render "his_nav"%>
<div class="span9 main">
  <%= render "his_profile"%>

  <section class="portfolio">
  <ul id="tiles" class="thumbnails tmode">
    <!-- 喜欢的宝贝0商品状态 -->
    <!-- <p style="text-align:center;font-size: 16px;line-height:30px;">
    好多精彩超值的促销活动千万不要错过!<br>共收藏0个活动!<br><a href="index.html" class="btn btn-danger ">去看看促销</a>
    </p> -->
    <!-- 喜欢的宝贝0商品状态 -->
  </ul>
  </section>
  

</div>


