<%= content_for :javascripts do -%>
  <script src="/js/space.js"></script>
<% end -%>
<%= render "nav"%>
<div class="span9 main">
  <%= render "user_info"%> 
		<section class="portfolio">
				<ul id="space_list" class="thumbnails tmode">
				</ul>
        <div id="loader">
          <div id="loaderCircle"></div>
        </div>
    </section>
</div>


