<%= content_for :javascripts do -%>
  <script src="/js/space.js"></script>
<% end -%>
<%= render "nav"%>
<div class="span9 main">
  <%= render "user_info"%> 
		<section class="portfolio">
				<ul id="space_list" class="thumbnails tmode">
          <!-- 喜欢的宝贝0商品状态 -->
         <!-- <p style="text-align:center;font-size: 16px;line-height:30px;">
         看到喜欢的东东千万不要错过!<br>共收藏0个东东!<br><a href="<%= list_front_products_path %>" class="btn btn-danger ">找东东</a>
          </p> -->
          <!-- 喜欢的宝贝0商品状态 -->
				</ul>
        <div id="loader">
          <div id="loaderCircle"></div>
        </div>
    </section>
</div>


