<%= content_for :javascripts do -%>
  <script src="/js/space_promo.js" ></script>
<% end -%>
<%= render "nav"%>
<div class="span9 main">
  <%= render "user_info"%> 
  <section class="portfolio">
  <ul id="sp_list" class="thumbnails pt10 tmode">
    <!-- 喜欢的促销0活动状态 -->
    <!-- <p style="text-align:center;font-size: 16px;line-height:30px;">
    好多精彩超值的促销活动千万不要错过!<br>共收藏0个活动!<br><a href="<%= root_path %>" class="btn btn-danger ">去看看促销</a>
    </p> -->
    <!-- 喜欢的促销0活动状态 -->
  
  </ul>
  <div id="loader">
    <div id="loaderCircle"></div>
  </div>
  </section>
</div>


