<%= content_for :javascripts do -%>
  <script src="/js/jspace_share.js"></script>
<% end -%>
<%= render "nav"%>
<div class="span9 main">
  <%= render "user_info"%> 
  <section class="portfolio">
  <ul id="jspace_list" class="thumbnails pt10 tmode"></ul>
  </section>
  
</div>


