<%= render "nav"%>
<div class="span9 main">
  <%= render "user_info"%> 
  <%= render "my_intime"%>
</div>
<%= content_for :javascripts do -%>
  <script type="text/javascript">
 $(document).ready(function() {
      index = intime.index;
     $(document).bind('scroll', index.onScroll);
     index.loadData('1');
   });
 </script>
<% end -%>
