$('.follow').html('<button type="button" class="btn btn-mini btn-danger"><i class="icon-plus icon-white"></i><%= link_to raw("关注"), front_follow_path(result[:id]), class: 'favor', remote: true, method: :post -%></button>');
