<div class="page-header">
  <h2><a href="sort_list.html"><i class="icon_location"></i>最新商品<span class="pull-right">更多&gt;&gt;</span></a></h2>
</div>
<ul class="thumbnails">
  <li>
  <div class="thumbnail">
    <div class="action">
      <!--优惠-->
      <span class="discount">优惠</span> <span class="triangle"></span>
      <!--优惠-->
      <a href="#"><img src="temp/440_350_1.jpg" alt=" "></a> <span class="like"><i class="icon-heart icon-white"></i>999+</span> </div>
    <h4><a href="#" title="">开衫连帽卫衣 ASDF335 -2 黛紫色</a></h4>
    <small><span class="pull-left num">吊牌价：<em>¥366</em></span><span class="pull-right price">销售价：<em>¥299</em></span></small> </div>
  </li>
  <li>
  <div class="thumbnail">
    <div class="action">
      <!--优惠-->
      <span class="discount">优惠</span> <span class="triangle"></span>
      <!--优惠-->
      <a href="#"><img src="temp/440_350_1.jpg" alt=" "></a> <span class="like"><i class="icon-heart icon-white"></i>999+</span> </div>
    <h4><a href="#" title="">开衫连帽卫衣 ASDF335 -2 黛紫色</a></h4>
    <small><span class="pull-left num">吊牌价：<em>¥366</em></span><span class="pull-right price">销售价：<em>¥299</em></span></small> </div>
  </li>
  <li>
  <div class="thumbnail">
    <div class="action"> <a href="#"><img src="temp/440_350_1.jpg" alt=" "></a> <span class="like"><i class="icon-heart icon-white"></i>999+</span> </div>
    <h4><a href="#" title="">开衫连帽卫衣 ASDF335 -2 黛紫色</a></h4>
    <small><span class="pull-left num">吊牌价：<em>¥366</em></span><span class="pull-right price">销售价：<em>¥299</em></span></small> </div>
  </li>
</ul>
