<%= content_for :head_nav do -%>
  <ul class="nav">
    <li><a href="<%= front_store_path(params[:id]) -%>"><i class="icon-undo"></i></a></li>
    <li class="title">最新促销</li>
  </ul>
<% end -%>

<div class="span9 main">
  <section class="portfolio" info='storeid,<%= params[:id] -%>'>
  <ul id="tiles" class="thumbnails tmode">
  </ul>
  <div id="loader">
    <div id="loaderCircle"></div>
  </div>
  </section>
</div>
<%= content_for :single_jss do -%>
<script type="text/javascript">
  function get_source(){
    var str =$('.portfolio').attr('info');
    var arr= new Array(); //定义一数组
    arr=str.split(","); //字符分割   
    type = arr[0];
    entity_id = arr[1];
  }
$(document).ready(function() {
    get_source();
    var index = intime.storepromotion;
    $(document).bind('scroll', index.onScroll);
    index.loadData(type, entity_id);
});
</script>
<% end -%>
