<%= content_for :head_nav do -%>
  <ul class="nav">
    <li><a href="javascript:history.go(-1);"><i class="icon-undo"></i></a></li>
    <li class="title">关于</li>
  </ul>
<% end -%>
<div class="span9 main">
  <div class="about bger"> <img src="<%=Settings.fileserver_host%>/images/about.png"> </div>
</div>
