<% content_for :title do 
  @product[:name]
 end %>
 <div class="well">
<h4><%=@product[:brand][:name]+' - '+ @product[:name]%></h4>
<div>
<% @product.resource.each do |r| %>
	<img src="<%= large_pic_url(r) %>" width="90%">
<% end %>
</div>
<div>
<p><%= @product[:description]%></p>
</div>
</div>
