<% content_for :title do 
  @product[:name]
 end %>
<div><%=@product[:brand][:name]+' - '+ @product[:name]%></div>
<div>
<% @product.resource.each do |r| %>
	<img width="320px" src="<%= large_pic_url(r) %>" class="img-rounded">
<% end %>
</div>
<div>
<p><%= @product[:description]%></p>
</div>
