<div class="module module-white clearfix">
  <div class="row-fluid">
    <div class="span12">
      <div id="myCarousel" class="carousel slide" style="overflow: hidden;">
              <ol class="carousel-indicators">
                <li class="active"></li>
                <li></li>
                <li></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner slides">
                <div class="active item slide"><img src="/images/ims/product-detail.jpg"></div>
                <div class="item slide"><img src="/images/ims/img640.jpg"></div>
                <div class="item slide"><img src="/images/ims/product-detail.jpg"></div>
              </div>
            </div>
      
        <div class="p-title"><h4>欧美范套装 简简单单的色彩 上面没有一丝累赘设计，干净利落非常精神</h4></div>
        <div class="p-price1 clearfix">
          <span>微信价：<em class="txt4">￥180.00</em></span>
          <span><em class="txt6">吊牌价：￥380.00</em></span>
        </div>
    </div>
  </div>
</div>

<div class="module module-common">
  <div class="row-fluid">
    <div class="span4">
      <div class="combos-product">
        <img src="/images/ims/no-image.jpg">
        <p><span class="txt3">￥368.00</span></p>
        <a class="btn btn-danger btn-mini btn-block" href="">点击购买</a>
      </div>
    </div>
    <div class="span4">
      <div class="combos-product">
        <img src="/images/ims/suit-09.jpg">
        <p><span class="txt3">￥368.00</span></p>
        <a class="btn btn-danger btn-mini btn-block" href="">点击购买</a>
      </div>
    </div>
    <div class="span4">
      <div class="combos-product">
        <img src="/images/ims/suit-11.jpg">
        <p><span class="txt3">￥368.00</span></p>
        <a class="btn btn-danger btn-mini btn-block" href="">点击购买</a>
      </div>
    </div>
  </div>
  </div>

  <div class="bottom-btnbox">
    <form class="form-inline">
        <button class="btn btn-large btn-danger"><i class="fa fa-eye"></i>预 览</button>
        <button class="btn btn-large btn-danger"><i class="fa fa-upload"></i>提交发布</button>
    </form>
  </div>
<script type="text/javascript">
  $(function(){
    $("#myCarousel").swipeshow({
      autostart: true,    /* Set to `false` to keep it steady */
      interval: 3000,     /* Time between switching slides (ms) */
      initial: 0,         /* First slide's index */
      speed: 1500,         /* Animation speed (ms) */
      friction: 1,      /* Bounce-back behavior; use `0` to disable */
      mouse: true,        /* enable mouse dragging controls */
      keys: true
    });
  })
</script>
