<div class="wrap-inner back-wrap-inner">
<div class="module module-bg-white clearfix">
  <div class="row-fluid">
    <div class="span12">
    	 <p>1、商品组合照片拍摄方法和注意事项。</p>
    	 <p>2、商品选择</p>
      <p>3、组合描述</p>
      <p>4、私人定制对象</p>
      <p>5、预览</p>
      <p>6、提交发布</p>
    </div>
  </div>
</div>
</div>