<div class="empty-box min-height">
    <div><i class="sad-icon"></i></div>
    <h1 class="empyt-h1">目前还没有宝贝</h1>
    <h4 class="empyt-h4">去自选商品页查看宝贝吧~</h4>
    <div class="text-center"><a class="btn btn-small btn-danger btn-empty" href="#">选商品</a></div>
</div>