<div id="shareToAllModel" class="modal hide fade modal-grey modal-red" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="position: fixed; top: 0%; left: 85%;">
    <div class="text-center">
      <div class=""><img src="/images/ims/right-top.png"></div>
    </div>
  </div>

  <div id="shareToUserModel" class="modal hide fade modal-grey modal-red" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="position: fixed; top: 0%; left: 85%;">
    <div class="text-center">
      <div class=""><img src="/images/ims/right-top.png"></div>
    </div>
  </div>

  <div id="shareToMomentModel" class="modal hide fade modal-grey modal-red" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="position: fixed; top: 0%; left: 85%;">
    <div class="text-center">
      <div class=""><img src="/images/ims/right-top.png"></div>
    </div>
  </div>

  <%= yield :javascripts -%>
  <script>
    $(function(){
      // 全局分享按钮
      $("#share_to_all_model").click(function(){
        $("#shareToAllModel").modal();
      })

      // 分享给好友按钮
      $("#share_to_user_model").click(function(){
        $("#shareToUserModel").modal();
      })

      // 分享到朋友圈按钮
      $("#share_to_moment_model").click(function(){
        $("#shareToMomentModel").modal();
      })
    });
  </script>