<a class="top-link" href="javascrip:void(0);" id="goto-top">
  <i class="fa fa-arrow-up"></i>
</a>

<script type="text/javascript">
  $(function(){
    //置顶
    $("#goto-top").click(function(e){
        $('html, body').animate({ scrollTop: 0 }, 'fast');
     });   
    })
</script>