@charset "utf-8";
/* CSS Document */

html {
}
body {
	font: 14px Verdana, Tahoma, "Microsoft Yahei", SimSun;
	background: #f5f9fa;
	padding-top: 66px;
}
a {
	color: #333;
}
a:hover {
	color: #e50050;
	text-decoration: none;
}
.fixed {
	min-height: 120px
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.btn-mini {
	font-size: 12px;
}
/* 按钮 #e50050 */
.btn-danger {
	background-color: hsl(339, 100%, 35%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe4284", endColorstr="#b2003e");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#fe4284), to(#b2003e));
	background-image: -moz-linear-gradient(top, #fe4284, #b2003e);
	background-image: -ms-linear-gradient(top, #fe4284, #b2003e);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe4284), color-stop(100%, #b2003e));
	background-image: -webkit-linear-gradient(top, #fe4284, #b2003e);
	background-image: -o-linear-gradient(top, #fe4284, #b2003e);
	background-image: linear-gradient(#fe4284, #b2003e);
	border-color: #b2003e #b2003e hsl(339, 100%, 28%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.46);
	-webkit-font-smoothing: antialiased;
}
/* Logo */
.logo {
	margin-left: 0px!important;
	background: #bd2248;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#e5004f), to(#bd2248));
	background-image: -webkit-linear-gradient(top, #e5004f, #bd2248);
	background-image: -moz-linear-gradient(top, #e5004f, #bd2248);
	background-image: -o-linear-gradient(top, #e5004f, #bd2248);
	background-image: -ms-linear-gradient(top, #e5004f, #bd2248);
	background-image: linear-gradient(to bottom, #e5004f, #bd2248);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5004f, endColorstr=#bd2248, grandientType=1);
	border-bottom: solid 5px #ddd;
	position: relative;
	z-index: 1;
}
.navbar .brand {
	padding: 5px 55px;
	margin-left: 0;
}
.navbar .brand img {
	width: 160px;
}
.navbar-inverse .navbar-inner {
	background: url(../images/nav.png) repeat-x 0px 0px!important;
	height: 54px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#333333', GradientType=0);
	height: 52px\9\0;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
	box-shadow: none;
	border: none;
}
.icon-undo {
	background: url(../images/icon_undo_2x.png) no-repeat 0px 0px;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	width: 28px;
	height: 26px;
	vertical-align: middle;
}
.icon_location {
	background: url(../images/icon_location_2x.png) no-repeat 0px 0px;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	height: 20px;
	width: 20px;
	vertical-align: text-top;
	display: inline-block;
}
.icon_title {
	background: url(../images/icon_title_2x.png) no-repeat 0px 0px;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	height: 16px;
	width: 16px;
	vertical-align: text-top;
	display: inline-block;
}
/* 导航遮罩 */
#navMask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#navMask.on {
	display: block;
}
.navbar .nav {
	font-size: 16px;
	font-weight: bold;
	width: -moz-calc(100% - 270px);
	width: -webkit-calc(100% - 270px);
	width: calc(100% - 270px);
	margin: 0;
}
.navbar .nav > li {
	background: #222 url(../images/nav.png) repeat-x right -154px;
	padding-right: 2px;
}
.navbar .nav > li.title {
	width: -moz-calc(100% - 214px);
	width: -webkit-calc(100% - 214px);
	width: calc(100% - 214px);
	text-align: center;
}
.navbar .nav > li.mid {
	width: 100%;
	line-height: 50px;
	color: #eee;
	padding: 0 8px;
	width: -moz-calc(100% - 16px);
	width: -webkit-calc(100% - 16px);
	width: calc(100% - 16px);
	text-align: center;
	background: none;
}
.navbar .nav > li.title,
.navbar .nav > li > a {
	background: url(../images/nav.png) repeat-x 0px -54px;
	color: #eee;
	line-height: 50px;
	padding: 0 30px;
	text-align: center;
}
.navbar .nav > .active > a,
.navbar .nav > .open > a,
.navbar .nav > li > a:hover {
	background: #222;
	color: #fff;
}
.navbar .btn-navbar {
	margin: 6px 5px 0 0;
}
/* 全部分类下拉导航 */
.navbar .nav li.dropdown .dropdown-menu {
	font-size: 14px;
	background-color: #3f3f3f;
	border: 0;
	margin-top: 1px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	opacity: .9;
	-webkit-opacity: .9;
	-moz-opacity: .9;
}
.navbar .nav > li > .dropdown-menu:before {
	border: 0
}
.navbar .nav > li > .dropdown-menu:after {
	border: 0
}
.navbar .nav .dropdown-toggle .caret {
	margin-top: 25px;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
	border-bottom: 4px solid #ffffff;
	border-top: 0;
}
.navbar .nav li.dropdown .dropdown-menu li {
}
.navbar .nav li.dropdown .dropdown-menu li:last-child {
	border: none;
	box-shadow: none;
}
.navbar .nav li.dropdown .dropdown-menu > li > a {
	color: #eee;
	padding: 6px 10px;
}
.navbar .nav li.dropdown .dropdown-menu > li > a:hover,
.navbar .nav li.dropdown .dropdown-menu > li a.active {
	background: #bd2248;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#e5004f), to(#bd2248));
	background-image: -webkit-linear-gradient(top, #e5004f, #bd2248);
	background-image: -moz-linear-gradient(top, #e5004f, #bd2248);
	background-image: -o-linear-gradient(top, #e5004f, #bd2248);
	background-image: -ms-linear-gradient(top, #e5004f, #bd2248);
	background-image: linear-gradient(to bottom, #e5004f, #bd2248);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5004f, endColorstr=#bd2248, grandientType=1);
	-webkit-box-shadow: inset 0px 0px 10px 4px #bd2248;
	-moz-box-shadow: inset 0px 0px 10px 4px #bd2248;
	box-shadow: inset 0px 0px 10px 4px #bd2248;
	color: #eee;
}
.navbar .nav #menu1,
.navbar .nav #menu2,
.navbar .nav #menu3 {
	position: static;
}
.navbar .nav #menu4 {
	position: relative;
}
.navbar .nav li.dropdown .dropdown-menu .ps-scrollbar-x {
	display: none
}
@media (min-height:171px ) {
.ps-scrollbar-y {
	display: none;
}
}
.navbar .nav #menu1 .dropdown-menu {
	margin-left: 0;
	padding: 15px;
	overflow: hidden;
}
.navbar .nav #menu1 .dropdown-menu dl {
	float: left;
	width: 100%;
	margin: 0;
}
.navbar .nav #menu1 .dropdown-menu .hot {
	border-bottom: 1px solid #333;
	box-shadow: 0 1px 0 #555;
	color: #fff;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.navbar .nav #menu1 .dropdown-menu .hot dt {
	height: 30px;
}
.navbar .nav #menu1 .dropdown-menu dd {
	width: 88px;
	float: left;
	margin: 4px;
	font-size: 12px;
}
/*.navbar .nav li.dropdown #menu1 dl dd:nth-child(9n+1){ margin-left:0 }*/

.navbar .nav #menu1 .dropdown-menu dd span {
	float: right
}
.navbar .nav #menu1 .dropdown-menu dd a,
.navbar .nav #menu2 .dropdown-menu .hot dd a {
	background: #7D7D7D;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
	background-image: -webkit-linear-gradient(top, #fff, #ccc);
	background-image: -moz-linear-gradient(top, #fff, #ccc);
	background-image: -o-linear-gradient(top, #fff, #ccc);
	background-image: -ms-linear-gradient(top, #fff, #ccc);
	background-image: linear-gradient(to bottom, #fff, #ccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, grandientType=1);
	box-shadow: inset 0px 0px 0px 1px #ddd;
	color: #333;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: block;
	padding: 3px 8px;
	text-decoration: none;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.navbar .nav #menu1 .dropdown-menu a.active,
.navbar .nav #menu1 .dropdown-menu dd a:hover,
.navbar .nav #menu2 .dropdown-menu .hot dd a:hover,
.navbar .nav #menu2 .dropdown-menu .hot dd a.active {
	background: #bd2248;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#e5004f), to(#bd2248));
	background-image: -webkit-linear-gradient(top, #e5004f, #bd2248);
	background-image: -moz-linear-gradient(top, #e5004f, #bd2248);
	background-image: -o-linear-gradient(top, #e5004f, #bd2248);
	background-image: -ms-linear-gradient(top, #e5004f, #bd2248);
	background-image: linear-gradient(to bottom, #e5004f, #bd2248);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5004f, endColorstr=#bd2248, grandientType=1);
	-webkit-box-shadow: inset 0px 0px 10px 4px #bd2248;
	-moz-box-shadow: inset 0px 0px 10px 4px #bd2248;
	box-shadow: inset 0px 0px 10px 4px #bd2248;
	color: #eee;
}
.navbar .nav #menu2 .dropdown-menu {
	margin-left: 0;
	padding: 15px 15px 10px 15px;
	min-height: 170px;
	overflow: hidden;
	max-height:535px;
}
.navbar .nav #menu2 .dropdown-menu dl {
	float: left;
	width: 100%;
	margin: 0;
}
.navbar .nav #menu2 .dropdown-menu dd a {
	color: #eee;
}
.navbar .nav #menu2 .dropdown-menu .hot {
	border-bottom: 1px solid #333;
	box-shadow: 0 1px 0 #555;
	color: #fff;
	margin-bottom: 20px;
}
.navbar .nav #menu2 .dropdown-menu .hot dt {
	height: 30px;
}
.navbar .nav #menu2 .dropdown-menu .hot dd {
	width: 120px;
	font-size: 12px;
	text-align: center;
	float: left;
	font-weight: normal;
	margin: 0 2px 20px 2px;
}
.navbar .nav #menu2 .dropdown-menu dd span,.navbar .nav #menu2 .dropdown-menu dd strong {
    display: block;
	font-weight:normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  }
/*.navbar .nav li.dropdown #menu2 dl dd:nth-child(9n+1){ margin-left:0 }*/


.navbar .nav #menu2 .dropdown-menu .brands dt {
  width: 100%;
	line-height: 24px;
	margin-bottom: 20px;
	float: left;
}
.navbar .nav #menu2 .dropdown-menu .brands dt span {
	margin-left: 1px;
	float: left;
	text-align: center;
	width: 30px;
	background: #7D7D7D;
}
.navbar .nav #menu2 .dropdown-menu .brands dt .all {
	width: 50px;
	margin-left: 4px;
}
.navbar .nav #menu2 .dropdown-menu .brands dt a.active,
.navbar .nav #menu2 .dropdown-menu .brands dt a:hover {
	background: #bd2248;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#e5004f), to(#bd2248));
	background-image: -webkit-linear-gradient(top, #e5004f, #bd2248);
	background-image: -moz-linear-gradient(top, #e5004f, #bd2248);
	background-image: -o-linear-gradient(top, #e5004f, #bd2248);
	background-image: -ms-linear-gradient(top, #e5004f, #bd2248);
	background-image: linear-gradient(to bottom, #e5004f, #bd2248);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5004f, endColorstr=#bd2248, grandientType=1);
	-webkit-box-shadow: inset 0px 0px 10px 4px #bd2248;
	-moz-box-shadow: inset 0px 0px 10px 4px #bd2248;
	box-shadow: inset 0px 0px 10px 4px #bd2248;
	color: #eee;
}
.navbar .nav #menu2 .dropdown-menu .brands dt span a {
	display: block;
	background: #7D7D7D;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
	background-image: -webkit-linear-gradient(top, #fff, #ccc);
	background-image: -moz-linear-gradient(top, #fff, #ccc);
	background-image: -o-linear-gradient(top, #fff, #ccc);
	background-image: -ms-linear-gradient(top, #fff, #ccc);
	background-image: linear-gradient(to bottom, #fff, #ccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, grandientType=1);
	box-shadow: inset 0px 0px 0px 1px #ddd;
	color: #333;
	display: block;
	text-decoration: none;
	font-weight: normal;
}
.navbar .nav #menu2 .dropdown-menu .brands dd {
	width: 90px;
	font-size: 12px;
	text-align: center;
	float: left;
	font-weight: normal;
	margin: 0 9px 16px 9px;
}
.navbar .nav #menu2 .dropdown-menu .brands dd img {
	width: 90px;
	height: 45px;
}
.navbar .nav #menu2 .dropdown-menu .brands dd p {
	display: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.navbar .nav #menu3 .dropdown-menu {
	padding: 15px;
}
.navbar .nav #menu3 .dropdown-menu li {
	width: 48%;
	width: -moz-calc(100%/2 - 7.5px);
	width: -webkit-calc(100%/2 - 7.5px);
	width: calc(100%/2 - 7.5px);
	border-bottom: 1px solid #333;
	box-shadow: 0 1px 0 #555;
}
.navbar .nav #menu3 .dropdown-menu li:nth-child(odd) {
	float: left
}
.navbar .nav #menu3 .dropdown-menu li:nth-child(even) {
	float: right
}
/*搜索栏*/
.search {
	padding-top: 11px;
}
.search input {
	float: left;
}
.search input[type="text"] {
	font-size: 12px
}
.search .btn {
}
.search .icon-search {
}
/* 轮播 */
.royalSlider {
	margin-bottom: 15px;
}
.carousel-indicators {
	top: auto;
	right: 10px;
	bottom: 10px;
}
.carousel-indicators li {
	width: 10px;
	height: 10px;
	font-size: 0;
	background-color: #a7a7a7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 1px 1px 0 #060606, 1px 1px 0 white;
	-moz-box-shadow: inset 1px 1px 0 #060606, 1px 1px 0 white;
	box-shadow: inset 1px 1px 0 #060606, 1px 1px 0 white;
}
.carousel-indicators .active {
	background: #d0412c;
}
.carousel-control {
	border: none;
	width: 36px;
	height: 36px;
	font-size: 40px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
/* 侧边栏 */

.sidenav .affix-bottom {
	position: fixed;
	bottom: 70px;
}
.aside {
	float: left;
	position: fixed;
	background: #f5f5f7 url(../images/aside_bg.png);
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.aside ul {
	margin: 0
}
.aside li {
	list-style: none;
}
.aside .frame {
	background: #fafafa;
	width: 170px;
	padding: 14px;
	margin: 15px auto;
	border: 1px solid #e7e9ea;
}
.aside .section {
	margin-bottom: 20px;
}
.aside h2 {
	font-size: 14px;
	text-shadow: 1px 1px 1px #fff;
	text-align: center;
	line-height: 20px;
}
/* 左侧菜单 */
.aside .menu {
}
.aside .menu li {
	background: url(../images/icon_menu_1_2x.png) no-repeat 10px center;
	background-size: 16px 14px;
	text-indent: 36px;
	border-bottom: 1px solid #e7e9ea;
	box-shadow: 0 1px 0 #fff;
	line-height: 39px;
	font-weight: bold;
	height: 38px;
}
.aside .menu li:first-child {
}
.aside .menu li:nth-child(2) {
	background-image: url(../images/icon_menu_2_2x.png);
	background-size: 16px 14px;
}
.aside .menu li:nth-child(3) {
	background-image: url(../images/icon_menu_3_2x.png);
	background-size: 12px 14px;
}
.aside .menu li:last-child {
	background-image: url(../images/icon_menu_4_2x.png);
	background-size: 12px 15px;
}
.aside .menu li:hover,
.aside .menu li.active {
	background-color: #f4f4f4;
}
.aside .menu li a {
	display: block;
}
.aside .menu li a:hover {
	text-decoration: none;
}
/* 登录银泰 */
.aside .login {
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #e7e9ea;
	box-shadow: 0 1px 0 #fff;
}
.aside .login li {
	background: #777 url(../images/icon_swb_x2.png) no-repeat center center;
	background-size: 75% 75%;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-indent: -999em;
	width: 40px;
	height: 40px;
	margin: 0 5px;
	display: inline-block;
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.65);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.65);
}
.aside .login li:hover {
	background: #3d3d3d url(../images/icon_swb_x2.png) no-repeat center center;
	background-size: 75% 75%;
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.95);
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.95);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.95);
}
.aside .login li a {
	display: block;
	width: 40px;
	height: 40px;
}
.aside .login li:nth-child(2) {
	background-image: url(../images/icon_twb_2x.png);
}
.aside .login li:last-child {
	background-image: url(../images/icon_tqq_2x.png);
}
/* 银泰微信 */
.aside .follow li {
	margin: 0 10px;
	display: inline-block;
}
.aside .follow {
	text-align: center;
	margin-bottom: 0;
}
.aside .follow h2 {
	margin-top: 0;
}
/* 客户端下载 */
.aside .download {
	text-align: center;
}
.main {
	float: right;
}
/* 数据为空 */
.no_data {
	display: none;
	margin: 0;
}
.no_data h5 {
	font-size: 16px;
}
.no_data i {
	background: url(../images/icon_info.png) no-repeat 0px center;
	background-size: 17px;
	vertical-align: text-top;
	display: inline-block;
	margin-right: 2px;
	width: 18px;
	height: 18px;
}
/* 缩略图组合 */
.portfolio {
}
.portfolio .page-header {
	padding: 0;
	line-height: 38px;
	height: 38px;
	margin: 0 0 15px 0;
	border: 0;
}
.portfolio .page-header h2 {
	margin: 0;
}
.portfolio .page-header h2 a {
	display: block;
	font-size: 16px;
	color: #c6c6c6;
	line-height: 38px;
	height: 38px;
	margin: 0;
	background: #3d3d3d;
}
.portfolio .page-header h2 a:hover {
	text-decoration: none;
	color: #eee;
}
.portfolio .page-header h2 .icon_location {
	vertical-align: text-top;
	margin: 0 4px 0 10px;
}
.portfolio .page-header h2 .distance {
	font-size: 12px;
}
.portfolio .page-header h2 .pull-right {
	padding-right: 10px;
	color: #eee;
	font-size: 14px;
	font-weight: normal;
}
.portfolio .thumbnails {
	margin-bottom: 0;
	position: relative;
}
.portfolio .thumbnails .thumbnail {
	padding: 10px;
	padding-bottom: 0;
	position: relative;
}
.portfolio .pt10 .thumbnail {
	padding-bottom: 10px;
}
.portfolio .thumbnails .thumbnail .location {
	line-height: 30px;
	height: 30px;
	padding-bottom: 6px;
	font-size: 12px;
	color: #444;
}
.portfolio .thumbnails .thumbnail .location i {
	opacity: .5;
	-webkit-opacity: .5;
	-moz-opacity: .5;
	margin-right: 2px;
}
.thumbnail:hover,
.thumbnail:focus {
	border-color: #0088cc;
	-webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	-moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.portfolio .thumbnails .thumbnail .action {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.portfolio .thumbnails .thumbnail .action .bag {
	position: absolute;
	right: 5px;
	bottom: 5px;
	background: url(../images/icon_bag_2x.png) no-repeat 0px 0px;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	height: 20px;
	width: 22px;
}
.portfolio .thumbnails .thumbnail .action .bags {
	position: absolute;
	right: 5px;
	bottom: 5px;
	background: url(../images/icon_bags_2x.png) no-repeat 0px 0px;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	height: 20px;
	width: 22px;
}
.portfolio .thumbnails .thumbnail .action .like {
	position: absolute;
	right: 5px;
	bottom: 5px;
	background: #333333;
	background: rgba(0, 0, 0, 0.6);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 1px 5px;
	font-size: 12px;
	color: #cdd5ce;
}
.portfolio .thumbnails .thumbnail .action .triangle {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 0;
	height: 0;
	border: 25px red solid;
	border-color: #e50050 transparent transparent #e50050;
	color: white;
	font-size: 12px;
	color: #fff;
}
.portfolio .thumbnails .thumbnail .action .discount {
	-webkit-transform: rotate(-45deg);
	-moz-box-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
	top: 6px;
	left: 3px;
	z-index: 1;
	font-size: 12px;
	color: #fff;
}
.portfolio .thumbnails .thumbnail .action .like i {
	opacity: .8;
	-webkit-opacity: .8;
	-moz-opacity: .8;
	margin-right: 2px;
}
.portfolio .thumbnails .thumbnail .num em {
	text-decoration: line-through;
}
.portfolio .thumbnails .thumbnail .price {
	font-weight: bold;
	color: #e50050;
}
.portfolio .thumbnails .thumbnail .price em {
	font-size: 14px;
}
.portfolio .thumbnails .thumbnail p {
	font-size: 12px;
	color: #fff;
	display: none;
	text-shadow: 1px 1px 1px #333;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px;
	margin: 0;
	background: #333333;
	background: rgba(0, 0, 0, 0.6);
}
.portfolio .thumbnails .thumbnail h3 {
	font-size: 14px;
	margin: 0;
	line-height: 20px;
	margin-bottom: 5px;
}
.portfolio .thumbnails .thumbnail h3.time span {
	font-size: 12px;
	color: #e50050;
}
.portfolio .thumbnails .thumbnail h3.bottom {
	padding: 6px 0 30px 0;
}
.portfolio .thumbnails .thumbnail h3.mt6 {
	margin: 6px 0 0 0 !important;
}
.portfolio .thumbnails .thumbnail .summary {
	font-size: 12px;
	padding: 6px 0 36px 0;
}
.portfolio .thumbnails .thumbnail h3 .icon_title {
	margin: 0 4px 0 0;
}
.portfolio .thumbnails .thumbnail h4 {
	font-size: 14px;
	margin: 10px 0;
	padding-bottom: 28px;
}
.portfolio .thumbnails .thumbnail small {
	color: #909090;
	background: #f4f2f3;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-box-shadow: inset 0 -1px 0 #fff;
	-moz-box-shadow: inset 0 -1px 0 #fff;
	box-shadow: inset 0 -1px 0 #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	line-height: 30px;
	height: 30px;
	border-bottom: 1px solid #dad8d8;
}
.portfolio .thumbnails .thumbnail small .pull-left {
	margin-left: 10px
}
.portfolio .thumbnails .thumbnail small .pull-right {
	margin-right: 10px
}
.portfolio .thumbnails .thumbnail small i {
	-webkit-opacity: .5;
	-moz-opacity: .5;
	opacity: .5;
	margin-right: 2px;
}
/* 我的关注 */
.portfolio .thumbnails .fans .thumbnail {
	height: 80px;
	padding: 10px 10px 10px 90px;
}
.portfolio .thumbnails .thumbnail .face {
	width: 80px;
	height: 80px;
	float: left;
	margin-left: -80px;
	overflow: hidden;
}
.portfolio .thumbnails .thumbnail .info {
	float: left;
	list-style: none;
	margin: 0 0 0 10px;
}
.portfolio .thumbnails .thumbnail .info .name {
	margin-bottom: 8px;
}
.portfolio .thumbnails .thumbnail .info .follow {
	margin-bottom: 8px;
}
.portfolio .thumbnails .thumbnail .info .follow i {
	margin-top: 0px;
}
.portfolio .thumbnails .thumbnail .info .atten {
	font-size: 12px;
}
.portfolio .thumbnails .thumbnail .info .atten span {
	margin-right: 10px;
}
.portfolio .thumbnails .thumbnail .info .atten span:last-child {
	margin: 0;
}
/* 页脚 */
footer {
	position: relative;
	background: #222;
	font-size: 12px;
	line-height: 50px;
	color: #666;
	margin-top: 15px;
}
footer a {
	color: #666;
	margin: 0 6px;
}
/* 返回顶部 */
#toTop {
	width: 52px;
	height: 52px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	background: #31342c url(../images/icon_top.gif) no-repeat center center;
}
/* 店铺详情 */

.shop_detail {
	margin-bottom: 20px;
}
.shop_detail .img {
	width: 400px;
	float: left;
	margin: 0 15px 0 0;
}
.shop_detail h1 {
	font-size: 16px;
	line-height: 28px;
	height: 28px;
	margin: 0;
	color: #e50050;
}
.shop_detail .info {
	margin: 8px 0;
}
.shop_detail .info span {
	font-weight: bold;
	color: #666;
}
.icon_loca {
	background: url(../images/icon_loca_2x.png) no-repeat 0px 0px;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	display: inline-block;
	height: 12px;
	width: 12px;
	margin-right: 4px;
	opacity: .5;
	-webkit-opacity: .5;
	-moz-opacity: .5;
}
.icon_phone {
	background: url(../images/icon_phone_2x.png) no-repeat 0px 0px;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	display: inline-block;
	height: 13px;
	width: 13px;
	margin-right: 4px;
	opacity: .5;
	-webkit-opacity: .5;
	-moz-opacity: .5;
}
.shop_detail hr {
	margin: 0 0 6px 0;
	border-top: 1px solid #ddd;
}
.shop_detail .brief {
	line-height: 24px;
}
.shop_detail .brief p {
	margin: 0;
}
/* 促销信息 */
.promo_info {
}
.promo_info #picbox {
	width: 400px;
	float: left;
	border: 1px solid #ddd;
}
.promo_info #picbox img {
	width: 100%;
}
.promo_info .infobox {
	width: 450px;
	float: right;
}
.promo_info .infobox .head {
	border-bottom: 1px solid #e7e9ea;
	box-shadow: 0 1px 0 #fff;
	margin-bottom: 15px;
	position: relative;
}
.promo_info .infobox .code {
	margin: 10px 0;
}
.promo_info .infobox .code span:nth-child(2) {
	margin-left: 10px;
}
.promo_info .infobox .head .pull-right {
	padding-top: 26px;
}
.promo_info .infobox h1 {
	font-size: 20px;
	line-height: 24px;
	height: auto!important;
	margin: 0;
	margin-bottom: 20px;
	color: #e50050;
}
.promo_info .infobox .loca {
	border-bottom: 1px solid #e7e9ea;
	box-shadow: 0 1px 0 #fff;
	padding-bottom: 10px;
	font-weight: bold;
}
.promo_info .infobox .loca .icon_location {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
	margin-right: 2px;
}
.promo_info .infobox .func {
	background: #fafafa;
	text-align: center;
	border: 1px solid #e7e9ea;
	margin-top: 10px;
}
.promo_info .infobox .func dd {
	height: 50px;
	margin: 0 20px;
	width: 50px;
	padding-top: 10px;
	text-align: center;
	display: inline-block;
}
.promo_info .infobox .func dd a:hover {
	text-decoration: none;
}
.promo_info .infobox .func dd img {
	opacity: 0.4;
	width: 24px;
	height: 24px;
}
.promo_info .infobox .func dd img:hover {
	opacity: 0.6;
}
.promo_info .infobox .func dd img {
}
.promo_info .infobox .func dd span {
	display: block;
}
.promo_info .infobox .func #share .modal-body span {
	width: 100px;
	display: inline-block;
	text-align: center;
}
.promo_info .infobox .func #share .modal-body span a:hover {
	text-decoration: none;
}
.promo_info .infobox .func #share .modal-body span img {
	display: block;
	padding-left: 13px;
}
.promo_info .infobox .detail {
	line-height: 24px;
}
.promo_info .infobox .detail h2 {
	font-size: 16px;
	line-height: 28px;
	height: 28px;
	margin: 0;
}
/* 填写订单 */
.addorder .mb20 {
	margin-bottom: 20px!important;
}
.addorder .infobox h1 {
	font-size: 20px;
	line-height: 24px;
	height: auto!important;
	margin-bottom: 20px;
}
.addorder .infobox .head {
	height: auto!important;
	margin-bottom: 20px!important;
}
.addorder .meta {
	margin: 0;
}
.addorder .meta li {
	list-style: none;
	margin-bottom: 10px;
	clear: both;
	line-height: 28px;
	padding-left: 66px;
	position: relative;
	z-index: 2;
}
.addorder .meta li span {
	margin-left: -66px;
	text-align: left;
	width: 66px;
	float: left;
	color: #999;
}
.addorder .meta li em {
	font-family: tahoma, arial;
	font-style: normal;
	color: #c00;
	font-weight: 700;
	font-size: 27px;
	margin-left: 4px;
	vertical-align: top;
}
.addorder .meta li i {
	font-family: tahoma, arial;
	margin-left: 4px;
	font-style: normal;
	text-decoration: line-through;
}
.addorder label {
	display: inline;
	padding: 0 5px;
}
.addorder .item_tit {
	line-height: 34px;
}
.addorder input[type="radio"] {
	margin-top: -3px;
}
.addorder select {
	margin-bottom: 3px;
	padding: 2px;
	width: 216px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
}
.addorder input[type="text"] {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	padding: 2px 4px;
	margin-bottom: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.addorder .item_tit span {
	width: 75px!important;
	display: inline-block;
}
.tages {
	width: 66px;
	display: inline-block;
	float: left;
	color: #999;
	line-height: 28px;
}
/* 商品页面 */
.promo_info .infobox .head .meta {
	margin: 0;
}
.promo_info .infobox .head .meta li {
	list-style: none;
	margin-bottom: 10px;
	clear: both;
	line-height: 20px;
	padding-left: 50px;
	position: relative;
	z-index: 2;
}
.promo_info .infobox .head .meta li span {
	margin-left: -50px;
	text-align: left;
	width: 50px;
	float: left;
	color: #999;
}
.promo_info .infobox .head .meta li i {
	font-family: tahoma, arial;
	margin-left: 4px;
	font-style: normal;
	text-decoration: line-through;
}
.promo_info .infobox .head .meta li em {
	font-style: normal;
	color: #c00;
	font-weight: 700;
	font-size: 27px;
	margin-left: 4px;
	margin-right: 10px;
	vertical-align: top;
}
.promo_info .infobox .head .brand {
	position: absolute;
	right: 0;
	top: 40px;
	z-index: 10;
	text-align: center;
}
.promo_info .infobox .btnbar {
	text-align: center;
	margin-bottom: 10px;
}
.promo_info .infobox .btnbar .btn {
	width: 160px;
	height: 26px;
	line-height: 26px;
	font-weight: bold;
	letter-spacing: 1px;
}
.recom {
	margin-bottom: 10px;
	padding-left: 105px;
}
.recom .face {
	float: left;
	border: 1px solid #ddd;
	background: #fff;
	padding: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 80px;
	margin-left: -105px;
}
.recom .info {
	float: left;
}
.recom .info .name {
	line-height: 28px;
	height: 28px;
	margin-bottom: 4px;
}
.recom .info .name a {
	color: #e50050;
}
.recom .info .name span {
	padding-left: 10px;
}
.recom .info .name .code {
	margin-bottom: 4px;
}
.recom .info p {
	margin: 0;
	line-height: 20px;
}
/* 参与活动详情 */
.events_info {
}
.events_info h2 {
	font-size: 16px;
	line-height: 28px;
	height: 28px;
	margin: 0;
	border-bottom: 1px solid #e7e9ea;
	box-shadow: 0 1px 0 #fff;
	margin-bottom: 20px;
}
.events_info .picbox {
	width: 400px;
	float: left;
}
.events_info .infobox {
	width: 450px;
	float: right;
}
/* 评论 */
.pinglun h2 {
	font-size: 16px;
	line-height: 28px;
	height: 28px;
	margin: 0;
}
.pinglun .comments {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
.pinglun ul,
.pinglun ul li {
	background: none;
	margin: 0;
	padding: 0;
}
.pinglun li.post {
	width: 100%;
	overflow: hidden;
	clear: both;
	border-top: 1px solid rgba(0, 0, 0, 0.13);
	margin: 0;
	padding: 0;
	list-style: none;
}
.pinglun .post-self {
	position: relative;
	padding: 10px;
	border-top: 1px solid rgba(255, 255, 255, 0.7);
}
.pinglun ul.children {
	margin-left: 38px;
}
.pinglun ul.children .post-self {
	padding-left: 0;
}
.pinglun ul.children .avatar {
	width: 30px;
	height: 30px;
}
.comments .avatar {
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	position: relative;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	float: left;
}
.pinglun a {
	cursor: pointer;
	text-decoration: none;
	color: #777;
	background-color: transparent;
	transition: color .15s linear;
	-webkit-transition: color .15s linear;
	-moz-transition: color .15s linear;
}
.pinglun .post-reply .icon-share-alt {
	transform: rotateY(180deg);
	-moz-transform: skew(0deg, 180deg) scale(-1, 1);
	-webkit-transform: rotateY(180deg);
	-o-transform: skew(0deg, 180deg) scale(-1, 1);
	opacity: .5;
	-webkit-opacity: .5;
	-moz-opacity: .5;
}
.pinglun ul.children .avatar img {
	width: 30px;
	height: 30px;
}
.comments .avatar img {
	display: block;
	width: 50px;
	height: 50px;
	max-width: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pinglun ul.children .comment-body {
	padding-left: 38px;
}
.pinglun .comment-body {
	padding-left: 60px;
}
.pinglun .comment-header {
	padding-top: 1px;
}
.pinglun .comment-body p {
	font-size: 13px;
	line-height: 1.5em;
	margin: .5em 0;
	word-wrap: break-word;
}
.comments p {
	text-indent: 0;
	clear: none;
}
.pinglun .comment-footer {
	line-height: 1.5em;
}
.pinglun .time {
	font-size: 12px;
	display: inline;
	margin: 0;
	margin-right: 8px;
	color: #999;
	_zoom: 1;
}
.pinglun .comment-actions a {
	font-size: 12px;
	color: #999;
}
.pinglun .comment-footer a {
	margin: 0 6px 0 0;
	padding: 0 6px 0 0;
}
.pinglun a {
	cursor: pointer;
	text-decoration: none;
	color: #777;
	background-color: transparent;
	transition: color .15s linear;
	-webkit-transition: color .15s linear;
	-moz-transition: color .15s linear;
}
.pinglun .comments .replybox {
	width: auto;
	font-size: 12px;
	margin: 8px 0;
	padding: 0 0 0 60px;
	position: relative;
	_zoom: 1;
}
element.style {
	display: block;
}
.pinglun .comments .inline-replybox {
	margin: 8px 0 2px 0;
	padding-left: 38px;
}
.pinglun .comments .replybox .avatar {
	position: absolute;
	top: 0;
	left: 0;
}
.pinglun .comments .replybox .avatar {
	position: absolute;
	top: 0;
	left: 0;
}
.pinglun .comments .comment-body a {
	color: #777;
}
.pinglun .comments .inline-replybox .avatar img {
	width: 30px;
	height: 30px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
}
.comments .rounded-top {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}
.pinglun .comments .textarea-wrapper {
	position: relative;
	border: 1px solid #ccc;
	border-bottom: none;
	padding-right: 20px;
	background: #fff url("../images/bg_sprites.png") 0 -90px repeat-x;
	overflow: hidden;
}
.pinglun .comments .textarea-wrapper textarea {
	box-shadow: none;
	-webkit-appearance: none;
	overflow: auto;
	padding: 10px;
	height: 54px;
	margin: 0;
	resize: none;
	color: #999;
	width: 100%;
}
.pinglun .comments .textarea-wrapper textarea,
.pinglun .comments .textarea-wrapper .hidden-text {
	display: block;
	font-size: 13px;
	line-height: 20px;
	border: none;
}
.pinglun .comments .post-toolbar {
	position: relative;
	width: 100%;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.comments .gradient-bg {
	background: url("../images/bg_sprites.png") 0 -60px repeat-x;
}
.pinglun .comments .post-options {
	position: relative;
	margin-right: 100px;
	height: 30px;
	border: 1px solid #ccc;
	border-right: none;
	border-bottom-color: #aaa;
	border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
}
.pinglun .comments button {
	cursor: pointer;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.pinglun .comments .post-button {
	position: absolute;
	right: 0;
	top: 0;
	height: 32px;
	width: 100px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	color: #555;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #ccc;
	border-bottom-color: #aaa;
	border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), color-stop(25%, #fcfcfc), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#fcfcfc, #fcfcfc 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #fcfcfc, #fcfcfc 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#fcfcfc, #fcfcfc 25%, #e6e6e6);
	background-image: linear-gradient(#fcfcfc, #fcfcfc 25%, #e6e6e6);
	transition: all .15s linear;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	box-shadow: inset 0 0 1px #fff;
}
/* 填写订单 */
.promo_info .infobox .buyinfo {
}
.promo_info .infobox .buyinfo .prop {
	margin-bottom: 10px;
}
.promo_info .infobox .buyinfo .prop span {
}
.promo_info .infobox .buyinfo .prop button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 1px solid #cccccc;
	padding: 3px 8px;
	margin:0 6px 6px 0;
}
.promo_info .infobox .buyinfo .prop button.active,
.promo_info .infobox .buyinfo .prop button:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 1px solid #df0001;
	margin-bottom: 6px;
}
.promo_info .infobox .buyinfo .prop button.active {
	background: url(../images/prop_active.gif) no-repeat right bottom;
}
.promo_info .infobox .buyinfo .property span {
	font-weight: bold;
	color: #c00;
}
.buyinfo .property {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #e0e0e0;
	padding: 5px 10px;
}
/* 模态对话框 */

.modal-backdrop,
.modal-backdrop.fade.in {
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.modal-header {
	border-bottom: 1px solid #eee;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
.modal-header h3 {
	line-height: 26px;
	font-size: 16px;
	text-align: left;
}
.modal-footer {
	padding: 8px 15px;
}



.pro_prev, .pro_next {
	width: 65px;
	height: 90px;
	display: none;
	background: #000 url(../images/slider-dir.png) no-repeat 0 center;
	position: fixed;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	filter: alpha(opacity=20);
	opacity: 0.2;
}
.pro_prev { left: 0; }
.pro_next { background-position: -65px center; right: 0; }
.pro_prev:hover, .pro_next:hover { filter: alpha(opacity=50) !important; opacity: 0.5 !important; }




/* 大于 1200
 ========================================================================== */
@media (min-width: 1200px) {
.nav > .pull-right {
	padding-left: 210px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
	width: 1155px;
}
.aside {
	height: auto!important;
	overflow: visible!important;
}
.aside .frame {
	width: 190px;
	padding: 24px;
}
.main {
	min-height: 560px;
	width: 870px;
	margin-left: 15px;
}
.thumbnails {
	margin-left: -15px;
}
.thumbnails > li {
	width: 280px;
	margin-left: 15px;
	margin-bottom: 15px;
}
/* 模态对话框 */
.modal {
	width: 400px;
	margin-left: -200px;
}
}




/* 980与1200之间
 ========================================================================== */
@media (min-width: 980px) and (max-width: 1199px) {
.navbar .brand {
	padding: 5px 30px;
}
.navbar .nav {
	width: -moz-calc(100% - 220px);
	width: -webkit-calc(100% - 220px);
	width: calc(100% - 220px);
}
.nav > .pull-right {
	padding-left: 45px;
}
/*随便逛逛下拉导航*/
	
.navbar .nav #menu1 .dropdown-menu {
	width: 690px;
}
.navbar .nav #menu1 .dropdown-menu dd {
	margin: 5px;
}
.navbar .nav #menu2 .dropdown-menu {
	width: 690px;
}
.navbar .nav #menu2 .dropdown-menu .hot {
	margin-bottom: 14px;
}
.navbar .nav #menu2 .dropdown-menu .brands dt {
	margin-bottom: 14px;
}
.navbar .nav #menu2 .dropdown-menu .brands dt .all {
	width: 38px;
	margin-left: 0
}
.navbar .nav #menu2 .dropdown-menu .brands dt span {
	width: 24px;
}
.navbar .nav #menu2 .dropdown-menu .brands dd {
	margin: 0 4px 8px 4px
}
.aside {
	height: auto!important;
	overflow: visible!important;
}
.aside .frame {
	margin: 10px auto;
}
.main {
	width: 705px;
	margin-left: 15px;
	min-height: 560px;
}
.thumbnails {
	margin-left: -15px;
}
.thumbnails > li {
	width: 345px;
	margin-bottom: 15px;
	margin-left: 15px;
}
.thumbnails > li .action img {
	width: 100%;
}
/* 店铺详情 */
.shop_detail .img {
	width: 350px;
	float: left;
	margin: 0 15px 0 0;
}
.shop_detail .info span {
	display: block;
}
.shop_detail .info i {
	margin-left: 0;
}
.promo_info .infobox .loca span {
	display: block;
	line-height: 30px;
	height: 30px;
}
/* 促销信息 */
.promo_info #picbox,
.promo_info .infobox {
	width: 340px;
}
.promo_info .infobox .func dd {
	margin: 0 14px;
}
/* 参与活动详情 */
.events_info .picbox,
.events_info .infobox {
	width: 340px;
}
/* 模态对话框 */
.modal {
	width: 400px;
	margin-left: -200px;
}
}



/* 小于980
 ========================================================================== */
@media (max-width: 979px) {
 [class*="span"] {
 min-height: 0px!important;
}
body {
	padding-top: 40px;
}
.navbar-inverse .navbar-inner {
	height: 40px
}
.container {
	padding: 10px 0 0 0;
}
.container .logo {
	background-image: none;
	border: 0;
	display: none;
}
.navbar .brand {
	width: 100px;
	padding: 4px 0 4px 4px;
}
.navbar .nav {
	width: -moz-calc(100% - 50px);
	width: -webkit-calc(100% - 50px);
	width: calc(100% - 50px);
	font-size: 14px;
	margin: 0;
}
.navbar .nav > li {
	background-image: none;
	padding-right: 1px;
}
.navbar .nav > li .icon-undo {
	margin: 0 2px;
	width: 24px;
	height: 24px;
}
.navbar .nav > li.title {
	width: -moz-calc(100% - 74px);
	width: -webkit-calc(100% - 74px);
	width: calc(100% - 74px);
}
.navbar .nav > li.title,
.navbar .nav > li > a {
	padding: 0 5px;
	line-height: 40px;
}
.navbar .nav > li.mid {
	line-height: 40px;
}
.navbar .nav > li .ycmenu {
	display: none;
}
/*随便逛逛下拉导航*/
.navbar .nav {
	position: static;
}
.navbar .nav li ul {
	display: none;
	margin-top: 0!important;
}
.navbar .nav li.open ul {
	display: block
}
.navbar .nav .dropdown-toggle .caret {
	margin-top: 18px;
}
/* 全部分类下拉导航 */
.navbar .nav li.dropdown .dropdown-menu {
	top: 40px;
}
.navbar .nav #menu1 .dropdown-menu,
.navbar .nav #menu2 .dropdown-menu {
	max-height: 285px;
	width: -moz-calc(100% - 30px)!important;
	width: -webkit-calc(100% - 30px)!important;
	width: calc(100% - 30px)!important;
}
.ps-scrollbar-y {
	display: block;
}
.navbar .nav #menu2 .dropdown-menu .hot {
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.navbar .nav #menu2 .dropdown-menu .hot dd {
	margin: 4px;
	width: auto;
}
.navbar .nav #menu2 .dropdown-menu .hot dd a span {
	display: none;
}
.navbar .nav #menu2 .dropdown-menu .brands dt .all,
.navbar .nav #menu2 .dropdown-menu .brands dt span {
	margin: 0 1px 1px 0;
}
.navbar .nav #menu2 .dropdown-menu .brands dt .all {
	width: 61px;
}
.navbar .nav #menu2 .dropdown-menu .brands dt {
	margin-bottom: 10px;
}
.navbar .nav #menu2 .dropdown-menu .brands dd {
	padding-bottom: 4px;
	margin: 0 10px 10px 0;
	width: 100%;
	border-bottom: 1px solid #333;
	box-shadow: 0 1px 0 #555;
}
.navbar .nav #menu2 .dropdown-menu .brands dd:nth-last-child(1) {
	border: 0;
	box-shadow: none;
	margin-bottom: 2px;
}
.navbar .nav #menu2 .dropdown-menu .brands dd a {
	display: block;
	height: 45px;
	background: rgba(0, 0, 0, 0.4);
}
.navbar .nav #menu2 .dropdown-menu .brands dd a:hover {
	background: rgba(0, 0, 0, 0.6);
}
.navbar .nav #menu2 .dropdown-menu .brands dd p {
	display: block;
	float: left;
	margin-left: 10px;
}
.navbar .nav #menu2 .dropdown-menu .brands dd img {
	float: left;
}
.navbar .nav #menu4 {
	position: static;
}
.navbar .nav #menu4 .dropdown-menu {
	width: 91%;
	width: -moz-calc(100% - 30px);
	width: -webkit-calc(100% - 30px);
	width: calc(100% - 30px);
	padding: 15px;
}
.navbar .nav #menu4 .dropdown-menu li {
	border-bottom: 1px solid #333;
	box-shadow: 0 1px 0 #555;
}
.search {
	float: none!important;
	width: 100%!important;
	margin: 0!important;
	background: #f3f3f3;
	padding-top: 6px;
	padding-bottom: 6px;
	position: absolute;
	left: 0;
	top: 40px;
	display: none;
}
.search input {
	margin-left: 5px;
	width: 77%;
	width: -moz-calc(100% - 63px)!important;
	width: -webkit-calc(100% - 63px)!important;
	width: calc(100% - 63px)!important;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
	position: fixed;
	margin: 0;
}
.container .aside {
	position: fixed;
	right: 0;
	z-index: 9;
	top: 40px;
	width: 198px!important;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.container .aside .frame {
	margin: 0;
	background: #3f3f3f;
	border: 0;
	color: #fff;
}
.container .aside .frame a {
	color: #fff;
}
.container .aside h2 {
	text-shadow: none;
}
.aside .menu li {
	background: url(../images/icon_menu_1s_2x.png) no-repeat 10px center;
	background-size: 16px 14px;
	border-bottom: 1px solid #333;
	box-shadow: 0 1px 0 #555;
}
.aside .menu li:hover,
.aside .menu li.active {
	background-color: #333;
	border-bottom: 1px solid #2a2a2a;
	box-shadow: 0 1px 0 #555;
}
.aside .menu li:first-child {
}
.aside .menu li:nth-child(2) {
	background-image: url(../images/icon_menu_2s_2x.png);
	background-size: 16px 14px;
}
.aside .menu li:nth-child(3) {
	background-image: url(../images/icon_menu_3s_2x.png);
	background-size: 12px 14px;
}
.aside .menu li:last-child {
	background-image: url(../images/icon_menu_4s_2x.png);
	background-size: 12px 15px;
}
.aside .login,
.aside .follow {
	border-bottom: 1px solid #333;
	box-shadow: 0 1px 0 #555;
}
.aside .login {
	border-bottom: 0;
	box-shadow: none;
	padding: 0;
	margin-bottom: 5px;
}
.aside .follow,
 .aside .download,
 .aside .loger .tools ul,
 .aside .loger .share {
	display: none;
}
#banner {
	margin: 0 10px 10px 0;
}
.portfolio .page-header {
	margin: 0 0 10px 0;
}
.portfolio .page-header h2 .pull-right {
	background: url(../images/icon-chevron-right_2x.png) no-repeat 0 0;
	text-indent: -999em;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	height: 20px;
	width: 20px;
	margin-top: 10px;
	padding: 0;
}
.thumbnails > li {
	margin-bottom: 10px;
}
.thumbnails > li .action img {
	width: 100%;
}
/* 商品两列 */
.portfolio .tmode li {
	float: left!important;
	width: 50%;
}
.portfolio .tmode li:nth-child(even) {
	float: right!important;
}
.portfolio .tmode {
	margin-left: -10px;
}
.portfolio .tmode li .thumbnail {
	padding: 0;
	margin-left: 10px;
}
.portfolio .tmode li .thumbnail h3 {
	padding: 6px 10px;
	margin: 0;
}
.portfolio .thumbnails .thumbnail h3.bottom {
	padding: 6px 0 36px 10px;
}
.portfolio .thumbnails .thumbnail .summary {
	padding-left: 10px;
}
.portfolio .tmode li h4 {
	line-height: 16px;
	font-size: 12px!important;
	padding: 0 10px;
	margin-top: 8px!important;
}
.portfolio .tmode li .like,
.portfolio .tmode li .num {
	display: none;
}
.portfolio .tmode li .price {
	float: left;
	margin-left: 10px;
}
footer .container {
	padding: 10px 0 10px 0;
}
footer .container .pull-right,
footer .container .pull-left {
	float: none;
	line-height: 24px;
	text-align: center;
}
/* 店铺详情 shop.html */
.shop_detail {
	margin-bottom: 10px;
}
.shop_detail h1 {
	line-height: 38px;
	height: 38px;
	color: #fff;
	background: #999;
	text-indent: 1em;
}
.shop_detail .img {
	width: auto;
	float: none;
}
.shop_detail .img img {
	width: 100%;
}
.shop_detail .info {
	margin: 0;
}
.shop_detail .info span {
	display: block;
	line-height: 20px;
	background: #aaa;
	font-weight: normal;
	color: #eee;
	padding: 7px 16px;
}
.shop_detail .info span:nth-child(2) {
	border-top: 1px solid #999;
}
.shop_detail .info i {
	margin-right: 6px;
}
.shop_detail .info span a {
	color: #eee;
}
.shop_detail hr {
	border: 0
}
/*促销信息*/
.promo_info,
.pinglun {
	margin: 0 10px;
}
.promo_info #picbox,
.promo_info #picbox img {
	width: 100%;
}
.promo_info .infobox .head {
	margin-bottom: 0;
}
.promo_info .infobox .loca {
	padding-bottom: 0;
}
.promo_info .infobox .head .pull-right {
	position: absolute;
	right: 0;
	top: 7px;
}
.promo_info .infobox {
	width: 100%;
	margin: 0;
}
.promo_info .infobox .func dd {
	margin: 0 10px;
}
/*商品页*/
.promo_info .infobox .loca span {
	display: block;
	line-height: 30px;
	height: 30px;
}
/* 参与活动详情 */
.events_info {
	padding: 10px;
}
.events_info .picbox,
.events_info .infobox {
	width: 100%;
}
.events_info .picbox {
	margin-bottom: 10px;
}
.events_info .picbox img {
	width: 100%;
}
}

/* 768与979之间
 ========================================================================== */
@media (min-width: 768px) and (max-width: 979px) {
 [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
 display: block;
 float: none!important;
 width: 100%!important;
 margin-left: 0!important;
}
.row {
	margin-left: 0!important;
}
.row-fluid {
	width: 100%!important;
}
.slide {
	margin: 0 0 10px 0;
}
.thumbnails {
	margin-left: -10px!important;
}
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
	padding: 0px!important;
}
/*相应导航*/

.thumbnails > li {
	display: block;
	width: 50%;
	margin-left: 0;
}
.portfolio .thumbnails .thumbnail {
	margin-left: 10px;
}
footer .container {
	padding: 10px 0 10px 0;
}
}


/* 小于767
 ========================================================================== */
@media (max-width: 767px) {
body {
	padding-right: 0;
	padding-left: 0;
}
.navbar-fixed-top,
.navbar-fixed-bottom,
.navbar-static-top {
	margin: 0;
}
.navbar .nav li.dropdown .dropdown-menu > li > a {
	font-size: 12px;
}
.navbar .nav #menu1 .dropdown-menu,
.navbar .nav #menu2 .dropdown-menu {
	width: 100%!important;
	padding: 10px 10px 5px 10px;
}
.navbar .nav #menu1 .dropdown-menu dl {
	margin-bottom: 5px;
}
.main {
	min-height: 380px!important;
}
.portfolio {
	margin: 0 10px;
}
.portfolio .page-header h2 .distance {
	display: none;
}
.thumbnails > li {
	display: block;
	float: none;
	width: 100%;
	margin-left: 0;
}
.shop_detail {
	margin: 0 10px 10px 10px;
}
/* 收货地址管理 */
.address .modal-body {
	max-height: 180px;
}
}

/* 480与767之间
 ========================================================================== */
@media (min-width: 480px) and (max-width: 767px) {
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
	padding: 0px!important;
}
}

/* 小于480
 ========================================================================== */
@media (max-width: 480px) {
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
	padding: 0;
	height: auto;
}
.addorder .thzq .alter .accordion-group #alter01 .conbox span,
.addorder .thzq .alter .accordion-group #add01 .conbox span,
.addorder .thzq .alter .accordion-group #add02 .conbox span {
	width: 60px!important;
}
.addorder .thzq .alter .accordion-group .conbox input[type="text"] {
	width: auto;
}
.addorder select {
	width: auto;
	height: 30px;
	line-height: 30px;
}
}
#loader {
	height: 16px;
	text-align: center;
	padding: 25px 0 25px 0;
}
#loaderCircle {
	width: 25px;
	height: 25px;
	margin: 0 auto;
	background-image: url('../images/loader.gif');
}
.huax{
text-decoration: line-through;
}
