<div class="wrap-content">
    <div class="module module-white min-height">
  		<div class="module-theme">
        <div class="row-fluid">
          <div class="span4">
            <div class="theme-ele active">
              <i class="fa fa-check-circle txt8"></i>
              <img src="/images/ims/theme.jpg">
              <p class="txt3">秋意黯然</p>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>