<section class="pinglun">
  <h2>评论<span id="totalcount" class="distance"></span></h2>
  <div id="list">
    <ul id="tiles" class="comments"></ul>
    <div id="no_data" class="no_data alert alert-error text-center">
      <h5><a href="#post" data-toggle="modal" style="display:block;color:#E50050;">抢沙发</a></h5>
    </div>
    <div id="last_page" class="no_data alert alert-error text-center">
      <h5>最后一页</h5>
    </div>
    <div id="reply" class="modal hide fade in" role="dialog" aria-labelledby="post" aria-hidden="false">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="mLabel">回复‘***’</h3>
      </div>
      <div class="modal-body">
        <textarea name="message" placeholder="说点什么吧…" style="width:96%;height:100px;margin:0;"></textarea>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-danger">发布</button>
      </div>
    </div>
  </div>
  <div id="loader">
    <div id="loaderCircle"></div>
  </div>
  <div id='promo_infoo' info='<%= "#{product.id},1" -%>'></div>
</section>
