<section class="pinglun">
  <h2>评论<span id="id" class="distance"></span></h2>
  <ul class="comments" id="comment_list">
  </ul>
  <div id="loader">
    <div id="loaderCircle"></div>
  </div>
</section>
