<dl class="func">
  <dd>
    <%= link_to raw("#{image_tag('/images/icon_heart_2x.png', height: 24, width: 24)}<span>喜欢</span>"), favor_front_product_path(product.id), class: 'favor', remote: true, method: :post -%>
  </dd>
  <%= render 'download_coupon', product: product -%>
  
  <%= render 'comment', product: product -%>

  <%= render 'share', product: product -%>
  
  <div class="clearfix"></div>
</dl>
