<%= content_for :head_nav do -%>
  <ul class="nav">
    <li><a href="javascript:history.go(-1);"><i class="icon-undo"></i></a></li>
  </ul>
<% end -%>
<div class="span9 main">

  <section class="portfolio">
  <ul id="tiles" class="thumbnails tmode">
    <!--如果没有内容-->
    <!-- <p style="text-align:center;padding-top:150px;font-size: 16px;line-height:30px;">
    没有符合条件的信息！</p> -->
    <!--如果没有内容-->
  </ul>
  </section>

</div>

